<ion-view title="BILL PAY" id="page2" style="background-color:#50A748;" class=" ">
    <ion-content padding="true" class="has-header">
        <a href="tel:" id="bILLPAY-button2" style="color:#18AD38;border-radius:8px 8px 8px 8px; align:right;" class=" button button-stable button-small icon-left ion-android-add ">Add</a>
        <p id="bILLPAY-markdown4" style="color:#000000; align:left;" class=" myclass1">
            <strong>Select a payee</strong>
        </p>
        <ion-list id="bILLPAY-list6" class=" ">
            <ion-item class="item-icon-right  " id="bILLPAY-list-item1">Payee 1
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="bILLPAY-list-item2">Payee 2
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="bILLPAY-list-item3">Payee 3
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
        </ion-list>
        <ion-list id="bILLPAY-list7" class=" ">
            <ion-item class="item-icon-right  " id="bILLPAY-list-item4">Payee 4
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="bILLPAY-list-item5">Payee 5
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="bILLPAY-list-item6">Payee 6
                <i class="icon ion-android-arrow-dropright"></i>
            </ion-item>
            <ion-list id="bILLPAY-list8" class=" ">
                <ion-item class="item-icon-right  " id="bILLPAY-list-item7">Payee 7
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="bILLPAY-list-item8">Payee 8
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="bILLPAY-list-item9">Payee 9
                    <i class="icon ion-android-arrow-dropright"></i>
                </ion-item>
            </ion-list>
        </ion-list>
    </ion-content>
</ion-view>