<ion-view title="BILL PAY" id="page3" style="background-color:#50A748;text-align:center;" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="recentPayments-markdown12" style="color:#E9FFFC;" class=" ">Your recent payments are shown here.</p>
    </ion-content>
</ion-view>