<ion-view title="BILL PAY" id="page5" style="background-color:#50A748;text-align:center;" class=" ">
    <ion-content padding="true" class="has-header">
	 <h1 id="sAP-heading1" style="color:#000000;text-align:center;" class=" ">SAP</h1>
	   <p style="font-size: 14px;text-align: center; color: black;">
	   Click on the microphone icon and begin speaking.</p>
	 
	   <form id="sAP-form1" class="list " ng-submit="submit()" ng-controller="sAPCtrl" >
            <label class="item item-input item-floating-label " id="sAP-input1" name="speechbox">
                <span class="input-label">Your instruction</span>
                <input type="text" x-webkit-speech  placeholder="" ng-model="speechText"  name="speechText" >
				<i class="icon ion-mic-a" style="float:right;"></i></input>
            </label>
			  <h5 style="color:#000000;text-align:center;"> <U><B>NOTE</B></U> :
		A standard payment instruction must be like "Pay payee_nickname bucks payment_amount from funding account funding_account_name".
		</h5>
		<input  class="button button-block"  type="submit" id="submit" value="Pay Now" /> 
       <p style="font-size: 18px;text-align: center; color: white;"> {{servRes}} </p>
	   
		 <!--<b>Data returned from Server :</b> <br>
			<ul>
			<li ng-repeat="x in returnedResponse">
			
			{{ x.Name + ', ' + x.Country }}
			</li>
			</ul>-->
			 </form>
		<!--
		<button  value="Click to Speak" class="button icon ion-ios-mic" ng-click="recognition.start()"> 
			</button>
		
		<form action="http://www.google.com/search">
			<input type="search" id="q" name="q" class ="button icon ion-ios-mic" size=60>
			<input type="button" value="Click to Speak" ng-click="recognition.start()">
		</form>-->

<!--
	<style>
  * {
    font-family: Verdana, Arial, sans-serif;
  }
  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: black;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 14px;
    text-align: center;
    color: black;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
</style>
       
			
		<!--
        <form id="sAP-form1" class="list ">
            <label class="item item-input item-floating-label " id="sAP-input1" name="speechbox">
                <span class="input-label">Your instruction</span>
                <input type="text" placeholder="">
            </label>
        </form>
		     <b>Data returned from Server :</b> <br>
			<ul>
			<li ng-repeat="x in returnResponse">
			
			{{ x.Name + ', ' + x.Country }}
			</li>
			</ul>
        <!--
		<h1 id="sAP-heading1">{{returnResponse}}</h1>
		
		<a href="tel:8146206032" id="sAP-button15" style="color:#18AD38;" class=" button button-stable  button-block ">Submit</a>
		<button on-touch = "onTouchFunction()" class="button">Pay Now</button>
		<script>
		$scope.onTouchFunction = function() {
						console.log('Thank you for not eating my delicious ice cream cone');
				}
			
		</script>
		-->
		<!--<button class="button button-dark" ng-click="showConfirm()">Pay Now</button>-->
		
		<!--<h5 style="color:#000000;text-align:center;"> 
		A standard payment instruction should be like <strong style="color:#ffffff;">"Pay payee_nickname payment_amount from funding account funding_account_nickname"</strong>.
		</h5>
		
<div id="info">
  <p id="info_start">Click on the microphone icon and begin speaking.</p>
  
  <p id="info_speak_now">Speak now.</p>
  <p id="info_no_speech">No speech was detected. You may need to adjust your
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
      microphone settings</a>.</p>
  <p id="info_no_microphone" style="display:none">
    No microphone was found. Ensure that a microphone is installed and that
    <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">
    microphone settings</a> are configured correctly.</p>
  <p id="info_allow">Click the "Allow" button above to enable your microphone.</p>
  <p id="info_denied">Permission to use microphone was denied.</p>
  <p id="info_blocked">Permission to use microphone is blocked. To change,
    go to chrome://settings/contentExceptions#media-stream</p>
  <p id="info_upgrade">Web Speech API is not supported by this browser.
     Upgrade to <a href="//www.google.com/chrome">Chrome</a>
     version 25 or later.</p>
</div>
<div class="right">
  <button id="start_button" ng-click="startButton(event)">
    <img id="start_img" src="/img/mic.gif" alt="Start"></button>
</div>
<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
  <p>
</div>
<div class="center">
  <p>
  <div id="div_language">
    <select id="select_language" onchange="updateCountry()"></select>
    &nbsp;&nbsp;
    <select id="select_dialect"></select>
  </div>
</div>-->
    </ion-content>
</ion-view>