<ion-view title="BILL PAY" id="page4" style="background-color:#50A748;text-align:center;" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="scheduledPayments-markdown13" style="color:#E9FFFC;" class=" ">Your scheduled payments are shown here.</p>
    </ion-content>
</ion-view>