<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-dark tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="PAY BILL" icon="ion-social-bitcoin" href="#/page1/page2" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="RECENT" icon="ion-ios-compose-outline" href="#/page1/page3" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="SCHEDULED" icon="ion-ios-list-outline" href="#/page1/page4" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="SAP" icon="ion-android-microphone" href="#/page1/sappage" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>